<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">{{ league.name }}: round-robin competition</h1>
      <tabset justified="true">
        <tab heading="Settings">
          <hr>
          <form role="form" class="form-horizontal">
            <div class="form-group">
              <label class="form-label col-sm-1 col-sm-offset-1" for="date">Date</label>
              <div class="col-sm-2">
                <input class="form-control" id="date" type="date" ng-model="date">
              </div>
            </div>
          </form>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>participates in competition?</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="competitor in league.competitors">
                <th>{{ competitor }}</th>
                <td>
                  <input type="checkbox"
                         ng-checked="isCompetitor($index)"
                         ng-click="toggleCompetitor($index)">
                </td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab heading="Tags">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th ng-repeat="tag in league.tags">{{ tag }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="competitor in competitors">
                <th>{{ league.competitors[competitor] }}</th>
                <td ng-repeat="tag in league.tags">
                  <input type="checkbox"
                         ng-checked="isTagSelected($parent.$index, $index)"
                         ng-click="toggleTagSelection($parent.$index, $index)">
                </td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab heading="Games">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th ng-repeat="competitor in competitors">{{ league.competitors[competitor] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="competitor in competitors">
                <th>{{ league.competitors[competitor] }}</th>
                <td class="result" ng-repeat="opponent in competitors">
                  <input type="number" min="0" ng-model="results[competitor][opponent]" ng-show="competitor !== opponent">
                  <span ng-show="competitor === opponent">X</span>
                </td>
              </tr>
            </tbody>
          </table>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="row pull-right">
    <div class="col-md-12">
      <a href="/" class="btn btn-default">Cancel</a>
      <button class="btn btn-primary" ng-click="save()">Save</button>
    </div>
  </div>
</div>
