<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">{{ league.name }}: round-robin competition</h1>
      <tabset justified="true">
        <tab heading="Settings">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>participates in competition?</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="competitor in league.competitors">
                <th>{{ competitor }}</th>
                <td><input type="checkbox" ng-model="active[$index]"></td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab heading="Statistics">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th ng-repeat="tag in league.tags">{{ tag }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="competitor in league.competitors" ng-show="active[$index]">
                <th>{{ competitor }}</th>
                <td ng-repeat="tag in league.tags"><input type="checkbox" ng-model="tags[$parent.$index][$index]"></td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab heading="Games">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th ng-repeat="competitor in league.competitors" ng-show="active[$index]">{{ competitor }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="competitor in league.competitors" ng-show="active[$index]">
                <th>{{ competitor }}</th>
                <td class="result" ng-repeat="opponent in league.competitors" ng-show="active[$index]">
                  <input type="number" min="0" ng-model="results[$parent.$index][$index]" ng-show="competitor !== opponent">
                  <span ng-show="competitor === opponent">X</span>
                </td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab heading="Standings" select="updateScores()">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th># Games</th>
                <th># Wins</th>
                <th># Losses</th>
                <th># Draws</th>
                <th>+/-</th>
                <th>
                  TP
                  <span class="glyphicon glyphicon-info-sign ng-scope" tooltip="Tournament points: Linearly distributed between one and zero based on rank."></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="score in scores" ng-show="active[score.competitor]">
                <th>
                  {{ scores[$index].rank }}.
                  <span class="glyphicon glyphicon-info-sign ng-scope" tooltip="{{ scores[$index].hint }}"></span>
                  {{ league.competitors[score.competitor] }}
                </th>
                <td>{{ scores[$index].games }}</td>
                <td>{{ scores[$index].wins }}</td>
                <td>{{ scores[$index].losses }}</td>
                <td>{{ scores[$index].draws }}</td>
                <td>{{ scores[$index].plus }} : {{ scores[$index].minus }} </td>
                <td>{{ scores[$index].points | number : 2 }}</td>
              </tr>
            </tbody>
          </table>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="row pull-right">
    <div class="col-md-12">
      <a href="/" class="btn btn-default">Cancel</a>
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
