<div class="container" ng-show="league">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ league.name }} competition</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <tabset>
        <tab>
          <tab-heading><i class="fa fa-lg fa-calendar"></i></tab-heading>
          <br>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="date" class="col-xs-4 col-sm-4 control-label">Date</label>
              <div class="col-xs-8 col-sm-4">
                <input type="date" class="form-control" id="date" ng-model="competition.date"/>
              </div>
            </div>
            <div class="form-group">
              <label for="time" class="col-xs-4 col-sm-4 control-label">Time</label>
              <div class="col-xs-8 col-sm-4">
                <input type="time" class="form-control" id="time" ng-model="competition.date"/>
              </div>
            </div>
          </form>
          <hr>
        </tab>
        <tab>
          <tab-heading><i class="fa fa-lg fa-users"></i></tab-heading>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>participates?</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="competitor in league.competitors">
                <th>{{ competitor }}</th>
                <td>
                  <input type="checkbox"
                         ng-checked="isCompetitor($index)"
                         ng-click="toggleCompetitor($index)">
                </td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab>
          <tab-heading><i class="fa fa-lg fa-tags"></i></tab-heading>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th ng-repeat="tag in league.tags">{{ tag }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="competitor in competition.competitors">
                <th>{{ league.competitors[competitor] }}</th>
                <td ng-repeat="tag in league.tags">
                  <input type="checkbox"
                         ng-checked="isTagSelected(competitor, $index)"
                         ng-click="toggleTagSelection(competitor, $index)">
                </td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab>
          <tab-heading><i class="fa fa-lg fa-table"></i></tab-heading>
          <table class="table table-striped versus">
            <thead>
              <tr>
                <th></th>
                <th ng-repeat="competitor in competition.competitors">{{ league.competitors[competitor] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="competitor in competition.competitors">
                <th>{{ league.competitors[competitor] }}</th>
                <td class="result" ng-repeat="opponent in competition.competitors">
                  <result league="league" competition="competition" competitor="competitor" opponent="opponent"></result>
                  <span ng-show="competitor === opponent">-</span>
                </td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab>
          <tab-heading><i class="fa fa-lg fa-sort-numeric-asc"></i></tab-heading>
          <table class="table table-striped">
            <thead>
            <tr>
              <th></th>
              <th>G <hint text="Games played"></hint></th>
              <th>W/D/L <hint text="Wins / Draws / Losses"></hint></th>
              <th>+/-</th>
              <th>
                CP <hint text="Competition points: Linearly distributed between one and zero based on rank."></hint>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stat in competition.stats">
              <th>
                {{ stat.rank }}.
                <hint text="{{ stat.hint }}"></hint>
                {{ league.competitors[stat.competitor] }}
              </th>
              <td>{{ stat.games }}</td>
              <td>{{ stat.wins }}/{{ stat.draws }}/{{ stat.losses }}</td>
              <td>{{ stat.plus }}:{{ stat.minus }} </td>
              <td>{{ stat.points | number : 2 }}</td>
            </tr>
            </tbody>
          </table>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn" ng-class="{ 'btn-info': dirty, 'btn-default': !dirty }" ng-click="save()" ng-disabled="!dirty">
        <i class="fa fa-save"></i> Save{{!dirty? 'd' : ' now'}}
      </button>
      <button class="btn btn-danger" ng-click="confirm()" ng-disabled="dirty" ng-show="!competition.confirmed && competition.league.owner === me._id">
        <i class="fa fa-check-square-o"></i>
        Confirm
      </button>
    </div>
  </div>
</div>
