<div class="container" ng-show="league">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ league.name }}</h1>
    </div>
  </div>
  <div class="row" ng-show="!league.stats.length">
    <div class="col-xs-12">
      <p>No statistics yet... please check back later.</p>
    </div>
  </div>
  <div class="row" ng-show="league.stats.length">
    <div class="col-xs-12">
      <tabset>
        <tab>
          <tab-heading><i class="fa fa-lg fa-sort-numeric-asc"></i></tab-heading>
          <table class="table table-striped">
            <thead>
            <tr>
              <th></th>
              <th>Points</th>
              <th>C (G) <hint text="Competitions played (Games played)"></hint></th>
              <th>W/D/L <hint text="Total Wins / Draws / Losses"></hint></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stat in league.stats">
              <th>{{ $index + 1 }}. {{ league.competitors[stat.competitor] }}</th>
              <th>{{ stat.points || 0 | number : 2 }}</th>
              <td>{{ stat.competitions || 0 }} ({{ stat.games || 0 }})</td>
              <td>{{ stat.wins || 0 }}/{{ stat.draws || 0 }}/{{ stat.losses || 0 }}</td>
            </tr>
            </tbody>
          </table>
        </tab>
        <tab>
          <tab-heading><i class="fa fa-lg fa-tags"></i></tab-heading>
          <table class="table table-striped matrix">
            <thead>
            <tr>
              <th></th>
              <th ng-repeat="tag in league.tags">{{ tag }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stat in league.stats">
              <th>{{ league.competitors[stat.competitor] }}</th>
              <td ng-repeat="tag in league.tags"><tagstat stat="stat" tag="$index"></tagstat></td>
            </tr>
            </tbody>
          </table>
        </tab>
        <tab>
          <tab-heading><i class="fa fa-lg fa-crosshairs"></i></tab-heading>
          <table class="table table-striped matrix">
            <thead>
            <tr>
              <th></th>
              <th ng-repeat="stat in league.stats">{{ league.competitors[stat.competitor] }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stat in league.stats">
              <th>{{ league.competitors[stat.competitor] }}</th>
              <td ng-repeat="other in league.stats">
                <span ng-if="stat.competitor !== other.competitor"><versus result="stat.indexedVersus[other.competitor]"></versus></span>
                <span ng-if="stat.competitor === other.competitor">-</span>
              </td>
            </tr>
            </tbody>
          </table>
        </tab>
        <tab>
          <tab-heading>
            <i class="fa fa-lg fa-history" ng-if="competitions"></i>
            <i class="fa fa-lg fa-spinner fa-spin" ng-if="!competitions"></i>
          </tab-heading>
          <br>
          <div class="list-group" ng-if="competitions">
            <a ng-repeat="competition in competitions"
               href="/leagues/{{league._id}}/competitions/{{competition._id}}"
               class="list-group-item">
              {{ competition.date | date:'yyyy-MM-dd HH:mm' }}
              <span class="pull-right">
                <span class="label label-success" ng-show="competition.confirmed">confirmed</span>
                <span class="label label-info" ng-show="me === competition.owner">by me</span>
                <span class="label label-default">{{ competition.competitors.length }}</span>
              </span>
            </a>
          </div>
        </tab>
        <tab select="showChart(true)" deselect="showChart(false)">
          <tab-heading>
            <i class="fa fa-lg fa-line-chart" ng-if="competitions"></i>
            <i class="fa fa-lg fa-spinner fa-spin" ng-if="!competitions"></i>
          </tab-heading>
          <br>
        </tab>
      </tabset>
    </div>
  </div>
  <league-chart league="league" competitions="competitions" ng-if="shouldShowChart && competitions"></league-chart>
  <div class="row" ng-show="me">
    <div class="col-xs-12">
      <a class="btn btn-default" href="" ng-click="newCompetition()"><i class="fa fa-plus-circle"></i> New competition...</a>
    </div>
  </div>
</div>
