<header class="hero-unit" id="banner" ng-show="!isLoggedIn()">
  <div class="container">
    <h1>Instaleague</h1>
    <p class="lead">Instant league creation and management</p>
    <p class="lead">
      <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
        <i class="fa fa-google-plus"></i> Connect with Google+
      </a>
    </p>
  </div>
</header>

<div class="container" ng-show="isLoggedIn() && league">
  <div class="row">
    <div class="col-lg-12">
      <form class="form-inline pull-right">
        <select class="form-control" ng-model="league" ng-options="league.name for league in leagues"></select>
        <a class="btn btn-default" href="/newLeague">New league...</a>
      </form>
      <h1 class="page-header">{{ league.name }}</h1>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Competitor</th>
          <th>Points</th>
          <th ng-repeat="tag in league.tags">{{ tag }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitor in league.competitors">
          <td></td>
          <td>{{ competitor }}</td>
          <td></td>
          <td ng-repeat="tag in league.tags"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <hr>
    <div class="col-lg-12">
      <a class="btn btn-primary" href="/{{ league.path }}/newCompetition">New competition...</a>
    </div>
  </div>
</div>

<div class="container" ng-show="isLoggedIn() && !league">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Welcome to Instaleague!</h1>
      <a class="btn btn-primary" href="/newLeague">Create your first league...</a>
    </div>
  </div>
</div>
